In [3]:
import numpy as np 
import pandas as pd

## Q1. Pandas version
What's the version of Pandas that you installed?

You can get the version information using the` __version__`field:

In [4]:
pd.__version__

'2.2.3'

In [29]:
df =pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

## Q2. Records count
How many records are in the dataset?

In [30]:
df.shape

(2160, 12)

## Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [31]:
num_dell =df['Brand'].nunique()
print(f"number of laptops Dell brand is {num_dell}")

number of laptops Dell brand is 27

## Q4. Missing values
How many columns in the dataset have missing values?

In [32]:
num_miss =df.isnull().any().sum()
print(f"number of missing values is {num_miss}")

number of missing values is 3

## Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [33]:
max_price =df[df["Brand"]=="Dell"]["Final Price"].max()
print(f"maximum final price of Dell is {max_price}")

maximum final price of Dell is 3936.0

## Q6.  Median value of Screen

* Find the median value of Screen column in the dataset.
* Next, calculate the most frequent value of the same Screen column.
* Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
* Now, calculate the median value of Screen once again.
Has it changed?

> Hint: refer to existing mode and median functions to complete the task.

### 1️- Median value of `Screen` before filling missing values:

In [34]:
original_median = df['Screen'].median()
print("Original median:", original_median)

Original median: 15.6

### 2️- Most frequent value (mode) of `Screen`:

In [35]:
most_frequent = df['Screen'].mode()[0]
print("Most frequent value:", most_frequent)

Most frequent value: 15.6

### 3️- Fill missing values with the mode:

In [36]:
df['Screen'] = df['Screen'].fillna(most_frequent)

### 4️- New median after filling missing values:

In [37]:
new_median = df['Screen'].median()
print("New median:", new_median)

New median: 15.6

### 5️- Compare both:

In [38]:
has_changed = original_median != new_median
print("Has the median changed?", "Yes" if has_changed else "No")

Has the median changed? No

## Q7. Sum of weights

1. Select all the **"Innjoo"** laptops from the dataset.
2. Select only the columns: **RAM**, **Storage**, and **Screen**.
3. Get the underlying **NumPy array**. Let's call it `X`.
4. Compute matrix-matrix multiplication between the **transpose of `X` and `X`**.  
   To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the **inverse** of `XTX`.
6. Create an array `y` with values:  
   `[1100, 1300, 800, 900, 1000, 1100]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`.  
   Call the result `w`.
8. What's the **sum of all the elements** of `w`?

> Note: You just implemented **linear regression**. We'll talk about it in the next lesson.

  $$
  w = (X^T X)^{-1} X^T y
  $$

#### 1. Select all "Innjoo" laptops:

In [40]:
innjoo_df = df[df['Brand'] == 'Innjoo']
innjoo_df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [46]:
innjoo_df.shape

(6, 12)

#### 2. Select only `RAM`, `Storage`, `Screen` columns:

In [42]:
features_df = innjoo_df[['RAM', 'Storage', 'Screen']]

####  3. Get NumPy array `X`:

In [43]:
X = features_df.to_numpy()

####  4. Compute `XTX = X.T @ X`:

In [44]:
XTX = X.T @ X

####  5. Compute inverse of `XTX`:

In [45]:
XTX_inv = np.linalg.inv(XTX)

####  6. Create target vector `y`:

In [47]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

####  7. Compute weights vector `w`:

In [48]:
w = XTX_inv @ X.T @ y

####  8. Sum of elements of `w`:

In [49]:
sum_w = w.sum()
print("Sum of weights:", sum_w)

Sum of weights: 91.2998806299555